
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Exo:wght@200;400;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family:  'Cairo', sans-serif;
    
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    background-image: url(/res/tajin-with-black-fade.gif);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1500px;
}
/*
#img_main{
    margin-top: -150px;
    float: right;
}
.main_container{
border: solid red;
}*/

/*   header  start */
header{
    margin: 40px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: sticky;
    

}
header nav a{
    margin: 0 30px;
    color: rgb(255, 255, 255);
    transition: ease-in-out .2s;
    font-size: large;
}
header nav a:hover{
    padding-bottom: 10px;
    border-bottom: 2px solid #F8A22F;

    
}
header nav .cont{
    padding: 8px 20px;
    background-color: #F8A22F;
    border-radius: 50px;
}
/*   header  ends */
/*  section taa ma3likch  start */
.container{
   display: flex;
}
.bdya_titel{
    width:50%;
    border:solid rgb(204, 255, 0);

}
 .bdya_titel h3{
    padding-right: 200px;
        font-size: 100px;
        text-align:right;
        font-family: 'Cairo', sans-serif;
        
 }
 p{
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    text-align: right;
    padding-right: 20px;

 }   

        /* img taa ma3likch*/
        /*
 .img{
    width: 50%;
    border: solid green;
    height: 900px;
 }
 .img img{
    float: right;
    margin-top: -150px;
    border: solid blue;
    height:1100px;
    width: 1900px;
    }
*/
 .btn{
    display:inline-block;
    margin-top: 1rem;
    background:#F8A22F;
    color :white;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 12px;

    margin: 5% 30%;
    width: 150px;
    text-align: center;

 }
 .bdya_titel a:hover {
    background: rgb(94, 94, 94);
    color: black;
 }

/* اطباقنا*/ 
.dish{
    margin-top:200px ;
    border: solid blue ;
   text-align: center;
   width: 50%;
   margin-right: 20px;
 
}
.dish h3{

    font-size: 45px;
 
    padding-bottom: 5px;
    border-bottom: 3px solid #F8A22F;
    text-align: center;

}
.dish ul{
    list-style: none;
}
.dish h2{
    display: block;
 
    float: right;

}
.title_menu{
    display: block;
    text-align: right;
}
 .comment_dish{
    display: block;
    font-size: 20px;
    color: #656565;
    text-align: right;

}
/* section taa ma3likch ends */



 .couscous{
width :120%;
;
clip: rect(-200px,200px);
border: red solid;


}


