@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Exo:wght@200;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 5.5rem;
}
:root {
  --white: #ffffff;
  --orange: #f8a22f;
}
a {
  text-decoration: none;
}
body {
  background-image: url(/res/tajin-with-black-fade.gif);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1500px;
}
/*
#img_main{
    margin-top: -150px;
    float: right;
}
.main_container{
border: solid red;
}*/

/*   header  start */
header {
  margin: 40px 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: none;
  position: sticky;
}
header nav a {
  margin: 0 30px;
  color: rgb(255, 255, 255);
  transition: ease-in-out 0.2s;
  font-size: large;
}
header nav a:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #f8a22f;
}
header nav .cont {
  padding: 8px 20px;
  background-color: #f8a22f;
  border-radius: 50px;
}

.nav-bar {
  margin-left: 300px;
}

.icons {
  margin-left: 20px;
}

.icons i,
.icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 2.7rem;
  line-height: 2.7rem;
  width: 2.7rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--white);
  border-radius: 50%;
  /* background: #eee;*/
}
.icons i:hover,
.icons a:hover {
  color: var(--orange);
  background: var(--white);
  transform: rotate(360deg);
  transition-duration: 0.6s;
}

/*   header  ends */

/*  section N01 */
.container-sec1 {
  display: flex;
  margin-bottom: 20px;
}
.container-sec2 {
  display: flex;
  align-items: center;
}
.bdya_titel {
  width: 50%;
}
.bdya_titel h3 {
  padding-right: 170px;
  font-size: 100px;
  text-align: right;
  font-family: "Cairo", sans-serif;
}

.parag {
  font-size: 30px;
  font-family: "Cairo", sans-serif;
  text-align: right;
  padding-right: 20px;
  border-right: 4px #f8a22f solid;
  margin-top: 20px;
}

/* img taa ma3likch*/

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #f8a22f;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 130px;
  margin-top: 100px;
  width: 150px;
  height: 50px;
  text-align: center;
  border: none;
}
.bdya_titel .btn:hover {
  background: rgb(94, 94, 94);
  color: black;
}
/* section taa ma3likch ends */

/* section N02*/

.container-sec2 {
  border: red solid;
  width: 100%;
  margin-top: 150px;
}


.dish {
  margin-top: 50px;
  text-align: center;
  width: 50%;
  font-size: 50px;
  padding-bottom: 300px;
  border-right: 4px solid #f8a22f;
  text-align: center;
}

.container-sec2 .img-sec2 {
  width: 75%;
  transform: translateY(-100px);
}

.parag-2 {
  
display: flex;
 margin-right: 20px;
  font-size: 30px;
  text-align: right;
  font-family: "Cairo", sans-serif;
  margin-left: 340px;
  margin-top: 20px;
}
.parag-2 .z{
 padding-left: 14px;
}
.comment_dish {
  font-size: 20px;
  color: #656565;
  text-align: right;
  padding-right: 20px;
}

.couscous {
  width: 110%;
  margin-top: 150px;
  clip: rect(-200px, 200px);
}

/* section N02 ends */



/* section N03  */

.popular {
  padding: 25px 0 250px 0;

  height: 100vh;
  width: auto;
}

.popular h1 {
  padding: 25px 0 25px 0;
  font-size: 2rem;
  font-family: Verdana;
  color: white;
  text-align: center;
}

.popular div {
  padding: 200px 0 200px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 200px;
}

.popular div img {
  width: 22%;
}

.container-sec3 {
  background-image: url("res/orange-pizza.gif");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* footer */

footer {
  width: 100%;
  height: auto;
  padding-top: 20px;
  background-color: #f8a22f;
  color: #fff;
  font-size: 16px;
}

.footer {
  width: 90%;
  height: auto;
  margin: auto;
}

.footer_info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
}

.column {
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 10px 0;
}

.contacticons {
  width: 140px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 7px;
  margin-top: 5px;
}

.contacticons i {
  transition-duration: 0.4s;
}

.contacticons i:hover.icon1 {
  color: rgb(135, 210, 212);
}

.contacticons i:hover.icon2 {
  color: rgb(59, 89, 152);
}

.contacticons i:hover.icon3 {
  color: rgb(196, 48, 43);
}

.contacticons i:hover.icon4 {
  color: rgb(0, 172, 238);
}

.pad {
  margin-bottom: 10px;
}

.contacticons i {
  font-size: 24px;
}

.column h1 {
  color: #ffffff;
  font-family: exo;
  font-size: 25px;
}

.column a {
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
}

.column1 a:hover {
  letter-spacing: 1px;
}

.footer {
  transform: translateX(50px);
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright hr {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.copyright pre {
  box-sizing: content-box;
}

#contact {
  padding: 25px 0 25px 0;
}

#contact_row {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 0 100px 0 100px;
  flex: flex-wrap;
}

.contact_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.contact_col img {
  height: 400px;
  width: 400px;
}

.contact_col form {
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 70%;
  padding: 20px 40px 20px 20px;
}

.contact_col form h3 {
  text-align: center;
  font-family: cursive;
}

.contact_col form input {
  width: 100%;
  height: 17pt;
  padding: 5px;
  margin: 5px;
}

.contact_col form textarea {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.contact_col form button {
  margin: auto;
  padding: 10px;
  color: #fff;
  background-color: grey;
  border: 1px solid white;
}
